# Project dependencies
node_modules
yarn-error.log

# Build directory
.cache/
public/
.DS_Store


# Config files
.env.*
config/firebase-config.*.json

# Firebase
firebase-debug.log
.firebase/

# Logs
logs/